body {
	max-width:600px;
	margin:auto;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #b65865;
}

h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5, h6 span {
	color: white;
	background-color: #b65865;
}

p, li, table {
	font-family: 'IBM Plex Serif', serif;
}

.block {
	font-famaily: 'IBM Plex Serif', serif;
	font-weight: light;
	size: 18px;
	background-color: #ffebe1;
	padding: 12px;
}
